<!DOCTYPE html>
<html>

<title>ARGENSIMULATOR</title>

<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

    <style>
      html, body, pre, code, kbd, samp {
          font-family: "font-family you want to use";
      }
    </style>
</head>


<body>
    <p>
    <b>INGRESA TU NOMBRE PARA COMENZAR A LIDERAR LA ARGENTINA</b>
    <form action="/initialize" method="post">
        <input type="text" id="pname" name="pname">
        <input type="submit" value="COMENZAR!">
    </form>
    </p>
    

</body>

</html>